<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>HSSaemaul-Regular.ttf</string>
		<string>KimjungchulMyungjo-Bold.ttf</string>
		<string>KimjungchulMyungjo-Regular.ttf</string>
		<string>KimjungchulMyungjo-Light.ttf</string>
		<string>GmarketSansTTFBold.ttf</string>
		<string>GmarketSansTTFLight.ttf</string>
		<string>GmarketSansTTFMedium.ttf</string>
		<string>Satoshi-Variable.ttf</string>
	</array>
</dict>
</plist>
